*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barra{
    position: relative;
    background-color: #226ed8;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 17px;
}

.Utask{ 
    width: 147px;
    height: 45px;
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.logo{
    width: 23.28px;
    height: 40px;
}

.light{
    border: none;
    background-color: transparent;
}

.caixafrase{
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 119px;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

.alinhar{
    display: flex;
    padding-top: 16px;
}

#frasebt{
    width: 75px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
    margin-left: 5px;
}

.logolamp{
    width: 44px;
    height: 44px;
    margin-left: 16px;
    
}

.Texto{
    width: 532px;
    height: 63px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin: -25px 10px 8px 65px;
    color: #141414;
}

.barra2{
    width: 100%;
    height: 50px;
	bottom: 0px;
    background: #114FA7;
}

.processo{
    width: 266px;
    height: 21px;
    left: 160px;
    top: 684px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 210px;
    
    color: #FFFFFF;
}

.Bruna{
    
    width: 100px;
    height: 21px;
    left: 1021px;
    top: 684px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF; 
}

.favorite{
    width: 16px;
    height: 16px;
    left: 1001px;
    top: 687px;
    
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.017em;
}

.feitocom{
    width: 69px;
    height: 21px;
    left: 927px;
    top: 684px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.container2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#Kanban{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* topo | direita | inferior | esquerda*/
    padding: 32px 160px 32px 160px; 
}

.container3{
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 375px;
}

.container4{
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 375px;
}

.container5{
    display: flex;
    flex-direction: column;
    width: 293px;
    height: 375px;
}

.direita{
    display: flex;
    align-items: center;
    text-align: center;
}

.caixa1{
    width: 293px;
    height: 337px;
    background: #EEEEEE;
    border-radius: 10px;
}

#scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: #c4c4c4;
    scroll-behavior: smooth;
}

.linha{
    display: flex;
    justify-content: space-between;
}
.cima{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 10px 10px 12px; 
}

.meio{
    display: flex;
    align-items: center;
    margin: 0px 0px 13px 13px;
}

.baixo{
    display: flex;
    align-items: center;
    margin: 0px 0px 13px 16px;
}

#more{
    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #141414;
    cursor: pointer;
}

#expand{
    width: 12px;
    height: 12px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.017em;
    color: #141414;
    cursor: pointer;
}

#seta{
    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #FFFFFF;
}

.baixolista{
    width: 300px;
    height: 36px;
    display: flex;
    align-items: last baseline;
    margin: 0px 0px 13px 16px;
}

.fazer{
    height: 30px;

    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #141414;
}   

#addbt{
    background-color: #FFFFFF;
    border: none;
    padding-bottom: 8px;
}

.img{
    width: 30px;
    height: 30px;
}

.expandir{
    width: 6px;
    height: 4px;
    margin-left: 2px;
}

.btexcluir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 31px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    position: absolute;
    left: 365px;
    top: 325px;
}

#icondel{
    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #DF0000;
}

.excluir{
    width: 38px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: 3px;
    color: #DF0000;
}

.proximo{
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #226ed8;
    margin-left: 110px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.proximo2{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-left: 9px;
    border: none;
}

.voltar{
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-left: 91px;
    border: none;
}

.task{
    width: 253px;
    height: 74px;

    background: #FFFFFF;
    border-radius: 10px;
    margin: 20px 20px 14px 20px;
}

.compras{
    width: 253px;
    height: 116px;

    background: #FFFFFF;
    border-radius: 10px;
    margin: 0px 20px 14px 20px;
}

.caixabranca{
    width: 293px;
    height: 337px;
    background: #EEEEEE;
    border-radius: 10px;
}

.andamento{
    height: 30px;

    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #141414;
    margin-bottom: 8px;
}   

.feito{
    height: 30px;

    text-align: justify;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 8px;
    color: #141414;
}   

.fazermanicure{
    width: 253px;
    height: 74px;

    background: #FFFFFF;
    border-radius: 10px;
    margin: 20px 19px 243px 21px;
}

.tasktitilo{
    width: 192px;
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #141414;
    text-align: left;
    margin-right: 23px;
}



.descricao{
    width: 80px;
    height: 18px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;

    color: #141414;
}

.esconder{
    width: 118px;
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    margin-left: 3.5px;
    color: #141414;
}
.setaesquerda{
    display: none;
}

.setadireita{
    display: none;
}

/* ==========  POPUP TASK  ============ */
.popup-wrapper{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-frasedia{
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup{
    position: relative;
    width: 100%;
    max-width: 474px;
    height: 100%;
    max-height: 421px;
    align-items: center;
    justify-content: center;
    margin: 10%auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btclose{
    position: absolute;
    top: 33px;
    right: 50px;
    cursor: pointer;
}

.txtnovatask{
    position: absolute;
    height: 30px;
    left: 183px;
    top: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #3867D6;

}

.bluebar{
    position: absolute;
    width: 121px;
    height: 3px;
    left: 175px;
    top: 60px;

    background: #3867D6;
    border-radius: 10px;
}

.titulo{
    position: absolute;
    height: 18px;
    left: 50px;
    top: 102px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
}

.popdescricao{
    position: absolute;
    height: 18px;
    left: 50px;
    top: 186px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #141414;
}

.campocinza1{
    display: flex;
    position: absolute;
    width: 374px;
    height: 40px;
    left: 50px;
    top: 126px;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    border-radius: 10px;
}

.txttitulo{
    height: 21px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
    margin-left: -70px;
}

.campocinza2{
    display: flex;
    position: absolute;
    width: 374px;
    height: 90px;
    left: 50px;
    top: 210px;
    justify-content: center;
    align-items: center;
    background: #EEEEEE;
    border-radius: 10px;
}

.txtdescricao{
    text-align: start;
    width: 342px;
    height: 63px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #141414;
}

.btaddtask{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;
    border: none;
    position: absolute;
    width: 374px;
    height: 41px;
    left: 50px;
    top: 340px;

    background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
    border-radius: 20px;
}

#criartask{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

/* ===============POPUP FRASE================== */
.popup-frasedia{
    display: none;
}
/* ===================================== */

/* RESPONSIVIDADE */
@media screen and (max-width: 600px){
    /* CAIXA FRASE */
    .container {
        display: flex;
        justify-content: space-around;
        align-items: unset;
        padding-top: 17px;
    }
    
    .caixafrase{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        height: 8%;
        background: #FFD569;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        /* topo | direita | inferior | esquerda */
        margin: 30px 44px 30px 44px;
    }
    
    .alinhar{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    }
    
    #frasebt{
        width: 97px;
        height: 24px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.017em;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        margin-left: 11px;
    }
    
    .logolamp{
        margin-left: 22px;
    }
    
/* ===============================================================  */
    
    .Texto{
        display: none;
    }
    
    .container4{
        display: none;
    }
    
    .container5{
        display: none;
    }
    
    .container2{
        padding-left: 20px;
        flex-direction: column;
        align-items: start;
    }
    
    .Kanban{
        padding: 0px;
        margin: 32px 160px 32px 160px;
    }

    .setaesquerda{
        display: block;
        position: absolute;
        top: 420;
        left: 10;
        right: 335;
        bottom: 318;
    }
    
    .setadireita{
        display: block;
        position: absolute;
        top: 420;
        left: 335;
        right: 10;
        bottom: 318;
    }

    .baixolista{
        width: 227;
    }

    .lista{
        width: 100%;
    }
    /* =================================================== */
    /* ==========  POPUP TASK  ============ */
    .popup{
        position: relative;
        width: 100%;
        max-width: 315px;
        height: 100%;
        max-height: 418px;
        align-items: center;
        justify-content: center;
        margin: 50%auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .btclose{
        position: absolute;
        top: 30px;
        right: 31px;
        cursor: pointer;
    }

    .txtnovatask{
        position: absolute;
        height: 30px;
        left: 106px;
        top: 30px;
        letter-spacing: -0.017em;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #3867D6;

    }

    .bluebar{
        position: absolute;
        width: 121px;
        height: 3px;
        left: 97px;
        top: 60px;

        background: #3867D6;
        border-radius: 10px;
    }

    .titulo{
        position: absolute;
        height: 18px;
        left: 30px;
        top: 93px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #141414;
    }

    .popdescricao{
        position: absolute;
        height: 18px;
        left: 30px;
        top: 179px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #141414;
    }

    .campocinza1{
        display: flex;
        position: absolute;
        width: 255px;
        height: 40px;
        left: 30px;
        top: 120px;
        justify-content: center;
        align-items: center;
        background: #EEEEEE;
        border-radius: 10px;
    }

    .txttitulo{
        display: none;
    }

    .campocinza2{
        display: flex;
        position: absolute;
        width: 255px;
        height: 90px;
        left: 30px;
        top: 206px;
        justify-content: center;
        align-items: center;
        background: #EEEEEE;
        border-radius: 10px;
    }

    .txtdescricao{
        display: none;
    }

    .btaddtask{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        gap: 10px;
        border: none;
        position: absolute;
        width: 251px;
        height: 41px;
        left: 30px;
        top: 337px;
        background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
        border-radius: 20px;
    }

    .criartask{    
        width: 67px;
        height: 21px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: center;

        color: #FFFFFF;
    }
    /* ===================================== */

    .popupfrase{
        position: relative;
        width: 100%;
        max-width: 315px;
        height: 100%;
        max-height: 218px;
        align-items: center;
        justify-content: center;
        margin: 55%auto;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .popup-closefrase{
        position: absolute;
        top: 28px;
        right: 18px;
        cursor: pointer;
    }

    .logolamppop{
        position: absolute;
        top: 20px;
        left: 20px;
        cursor: pointer;
    }

    .frasepop{
        position: absolute;
        top: 34px;
        left: 74px;
        height: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;

        letter-spacing: -0.017em;

        color: #000000;
    }

}
